<!doctype html>
<html>

<head>
    <title>About page</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <%- include('navbar'); -%>
    <h1> About <i>My Smart Home</i></h1>
    <p>My name is Mohan Krishna, I have created this application. It allows a users to easily monitor <br>
        and control their devices present at their home. They can add different types of devices <br>
        to their dashboard. Users can choose custom names for each smart device. <br>
        They can also monitor the status for each device (Example: on/off), and control these <br>
        devices' settings.</p>
</body>

</html>