<!doctype html>
<html>

<head>
    <title>Device Status page</title>
    <link rel="stylesheet" href="/styles.css">
    <script type="text/javascript" src="/generalFormValidation.js"></script>
</head>

<body>
    <%- include('navbar'); -%>
    <h2>Here, you can view the settings of your selected devices</h2>
    <form name="form" action="/showStatus" method="GET" onsubmit="return validateName()">

        <!-- Display the names of devices in a dropdown menu -->
        <label for="type">Name of Device:</label>
        <select name="name" id="device-option">
            <option disabled selected value> -- select an option -- </option>
            <% listOfDevices.forEach(function(device){ %>
                <option value="<%= device.name %>"><%= device.name %></option>
            <% }); %>
        </select>
        <br><br>

        <!-- submit button to view the device status -->
        <input type="submit" value="Submit"> 
    </form>
</body>

</html>