<!-- common navbar for all the pages -->

<h1 class="header"><i>My Smart Home</i></h1>
    <!-- navbar links -->
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/addDevice">Add Device</a></li>
        <li><a href="/deviceStatus">Device Status</a></li>
        <li><a href="/controlDevice">Control Device</a></li>
        <li><a href="/deleteDevice">Delete Device</a></li>
        <li><a href="/list">Device list</a></li>
      </ul>